.EquipmentRow {
    margin-top: 20px;
    margin-bottom: 30px;
}

.EquipmentRow .EquipmentLabel {
    display: block;
    margin-bottom: 0.5em;
}

.EquipmentRow .EquipmentSelectGroup {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

@media (min-width: 700px) {
    .AugmentPage {
        padding-left: 40px;
        padding-right: 40px;
    }

    .EquipmentRow .EquipmentSelectGroup {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }
}

@media (min-width: 900px) {
    .EquipmentRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}
