.ArmorPiecePanel {
}

.NameRow {
}

.SubNameRow {
}

.SlotRow {
}

.ResistanceTable {
}

.ResistanceCell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.ResistanceLabel {
    flex: 1 0 0px;
}

.ResistanceValue {
    flex: 0 0 30px;
    text-align: right;
    margin-right: 15px;
}

.ResistanceDial {
    width: 150px;
}

.SkillsRow {
}

.SkillList {
}