.ArmorPiecePanel {
}

.NameRow {
    text-align: center;
}

.SubNameRow {
}

.SlotRow, .ResistanceCell {
    height: 36px;
    margin-bottom: 5px;
}

.SlotRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.SlotLabel {
    flex: 1 0 0px;
}

.SlotBlock {
    flex: 0 0 30px;
    text-align: right;
    margin-right: 15px;
}

.ResistanceDial {
    width: 150px;
}

.SlotDial {
    width: 100px;
}

@media (min-width: 700px) {
    .SlotDial {
        width: 150px;
    }
}

.ResistanceCell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.ResistanceLabel {
    flex: 1 0 0px;
}

.ResistanceValue {
    flex: 0 0 30px;
    text-align: right;
    margin-right: 15px;
}

.ResistanceDial {
    width: 150px;
}

.ArmorStats, .ArmorSkills {
    margin-bottom: 30px;
}

.ArmorStats h3, .ArmorSkills h3 {
    color: var(--highlight-color);
}

@media (min-width: 900px) {
    .Panel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: stretch;
        align-items: flex-start;
        gap: 30px;
    }

    .ArmorStats, .ArmorSkills {
        flex: 0 0 50%;
        margin-bottom: 30px;
    }
}

.SkillsRow {
}

.SkillList {
}